<section class="slider-wrapper tamanho12">
  <div id="slider">
    <img src="/assets/uploads/banners/banner_1.jpg" alt="banner1" />
    <img src="/assets/uploads/banners/banner_2.jpg" alt="banner2" />
    <img src="/assets/uploads/banners/banner_5.jpg" alt="banner5" />
  </div>
</section>

<div class="clear"></div>

<section id="servicos">

  <div class="tamanho12">
    <h3 class="titulo">Serviços</h3>
  </div>

  <div class="tamanho4 coluna primeiro">
    <div>
      <figure class="left">
        <img src="/assets/servico_1.jpg" alt="servico-1" />
      </figure>
      <p>
        <strong>Lorem ipsum dolor sit amet,</strong> consectetur adipisicing elit. Ipsum sed tempore eos ea rerum itaque voluptas vitae laboriosam quasi dolorum neque veniam adipisci odio placeat debitis! Saepe incidunt ducimus nihil deleniti voluptatum recusandae sit libero.
      </p>
      <a href="#"> Leia Mais ... </a>
    </div>
  </div>
  <div class="tamanho4 coluna">
    <div>
      <figure class="left">
        <img src="/assets/servico_2.jpg" alt="servico-2" />
      </figure>
      <p>
        <strong>Lorem ipsum dolor sit amet,</strong> consectetur adipisicing elit. Ipsum sed tempore eos ea rerum itaque voluptas vitae laboriosam quasi dolorum neque veniam adipisci odio placeat debitis! Saepe incidunt ducimus nihil deleniti voluptatum recusandae sit libero.
      </p>
      <a href="#"> Leia Mais ... </a>
    </div>
  </div>
  <div class="tamanho4 coluna ultimo">
    <div>
      <figure class="left">
        <img src="/assets/servico_3.jpg" alt="servico-3" />
      </figure>
      <p>
        <strong>Lorem ipsum dolor sit amet,</strong> consectetur adipisicing elit. Ipsum sed tempore eos ea rerum itaque voluptas vitae laboriosam quasi dolorum neque veniam adipisci odio placeat debitis! Saepe incidunt ducimus nihil deleniti voluptatum recusandae sit libero.
      </p>
      <a href="#"> Leia Mais ... </a>
    </div>
  </div>
</section>

<div class="clear"></div>

<section id="sobre">

  <div class="tamanho12">
    <h3 class="titulo">Sobre Nós</h3>
  </div>

  <div class="tamanho6 coluna primeiro">
    <figure class="left">
      <img src="/assets/sobre.png" alt="img-sobre" />
    </figure>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab assumenda quod perspiciatis optio repellendus maxime ratione excepturi doloremque quo id vero adipisci! Dolor quaerat.
    </p>

    <a href="/sobre-nos"> Leia Mais ... </a>
  </div>

  <div class="tamanho6 coluna ultimo">
    <ul>
      <li>
        <p>
          Bill Gates
          <span>Microsoft Corporation</span>
        </p>
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus reiciendis distinctio nam et hic dignissimos itaque! Veritatis et aperiam aut officiis deserunt perspiciatis eaque!
          </p>
        </div>
      </li>
      <li>
        <p>
          Steve Jobs
          <span>Apple Inc</span>
        </p>
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus reiciendis distinctio nam et hic dignissimos itaque! Veritatis et aperiam aut officiis deserunt perspiciatis eaque!
          </p>
        </div>
      </li>
    </ul>
  </div>

</section>

<div class="clear"></div>

<section id="clientes" class="tamanho12">
  <div id="prev">
    <a href="#" class="prev"><img src="/assets/arrow-left_90.png" border="0" /></a>
  </div>
  <div id="carroussel" style="float:left">
    <ul>
      <li><img src="/assets/uploads/clientes/apple.jpg" width="137" height="90" alt="apple inc" /></li>
      <li><img src="/assets/uploads/clientes/c3.jpg" width="137" height="90" alt="c3 tech" /></li>
      <li><img src="/assets/uploads/clientes/intel.jpg" width="137" height="90" alt="intel" /></li>
      <li><img src="/assets/uploads/clientes/lg.jpg" width="137" height="90" alt="lg" /></li>
      <li><img src="/assets/uploads/clientes/positivo.jpg" width="137" height="90" alt="positivo" /></li>
      <li><img src="/assets/uploads/clientes/samsung.jpg" width="137" height="90" alt="samsung" /></li>
      <li><img src="/assets/uploads/clientes/apple.jpg" width="137" height="90" alt="apple inc" /></li>
      <li><img src="/assets/uploads/clientes/c3.jpg" width="137" height="90" alt="c3 tech" /></li>
      <li><img src="/assets/uploads/clientes/intel.jpg" width="137" height="90" alt="intel" /></li>
      <li><img src="/assets/uploads/clientes/lg.jpg" width="137" height="90" alt="lg" /></li>
      <li><img src="/assets/uploads/clientes/positivo.jpg" width="137" height="90" alt="positivo" /></li>
      <li><img src="/assets/uploads/clientes/samsung.jpg" width="137" height="90" alt="samsung" /></li>
    </ul>
  </div>
  <div>
    <a href="#" class="next"><img src="/assets/arrow-right_90.png" border="0" /></a>
  </div>
</section>

