/*
Style
*/

/* --- Import CSS --- */
@import "/assets/reset.css";
@import "/assets/grid.css";
@import "/assets/tipografia.css";
@import "/assets/form.css";

/* --- Layout ---*/
body {
	background: #fff url("/assets/background.jpg") repeat-x top;
}

#main {
	margin: 0 auto;
}

.titulo {
	font-size: 26px;
	font-weight: normal;
	color: #252525;
	border-bottom: 1px dotted #252525;
	padding-bottom: 6px;
}

#header {
	height: 138px;
}

.logo {
	height: 108px;
	background: url("/assets/logo.png") no-repeat 50% 50%;
	margin: 15px 0 0 0;
	text-indent: -9999px;
}

#social {
	margin: 30px 0 0 0;
}

#social a {
	float: right;
	display: block;
	width: 55px;
	height: 45px;
	background: url("/assets/social.png") no-repeat;
	margin: 0 2px;
	text-indent: -9999px;

	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

#social a.twitter  {
	background-position: 0 0;
}

#social a.facebook {
	background-position: -55px 0;
}

#social a.linkedin {
	background-position: -110px 0;
}

#social a:hover {
	-webkit-transform: rotate(25deg) scale(1.30) skew(1deg) translate(0px);
	-moz-transform: rotate(25deg) scale(1.30) skew(1deg) translate(0px);
	-o-transform: rotate(25deg) scale(1.30) skew(1deg) translate(0px);
	-ms-transform: rotate(25deg) scale(1.30) skew(1deg) translate(0px);
	transform: rotate(25deg) scale(1.30) skew(1deg) translate(0px);
}

/* --- Form --- */

#formsearch #s {
	margin: 10px 0 0 0;
}

#formsearch input {
	float: right;
	background: url("/assets/bg-search.png") no-repeat left center transparent;
	border: none;
	padding: 5px 25px 5px 8px;
	width: 150px;
	font-size: 12px;
	color: #959595;
}

/* --- Menu --- */

#menu {
	height: 40px;
	border: none;
	border-top: 1px dotted #333;
	border-bottom: 1px dotted #333;
	margin: 10px 0;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul li {
	float: left;
}

#menu ul li a {
	display: block;
	padding: 9px 30px 7px;
	color: #4d4d52;
	font-weight: bold;
	border-bottom: 3px solid transparent;
	
	-webkit-transition: All 0.8s ease;
	-moz-transition: All 0.8s ease;
	-o-transition: All 0.8s ease;
	-ms-transition: All 0.8s ease;
	transition: All 0.8s ease;
}

#menu ul li.active a,
#menu ul li a:hover {
	border-color: #4d4d52;
}

/* --- Servicos --- */
#servicos .coluna {
	padding-bottom: 18px;
	background: #fff url(/assets/box-shadow.png) no-repeat bottom;
}

#servicos .coluna > div {
	height: 205px;
	padding: 10px 10px;
	background: #eaeaea;
	border: 3px solid #fff;

	-webkit-box-shadow: 0px 0px 1px #9c9c9c;
	-moz-box-shadow: 0px 0px 1px #9c9c9c;
	-o-box-shadow: 0px 0px 1px #9c9c9c;
	-ms-box-shadow: 0px 0px 1px #9c9c9c;
	box-shadow: 0px 0px 1px #9c9c9c;

	-webkit-transition: All 0.4s ease;
	-moz-transition: All 0.4s ease;
	-o-transition: All 0.4s ease;
	-ms-transition: All 0.4s ease;
	transition: All 0.4s ease;
}

#servicos .coluna > div:hover{
	background: #eaeaea;
	-webkit-box-shadow: 0px 0px 3px #777;
	-moz-box-shadow: 0px 0px 3px #777;
	-o-box-shadow: 0px 0px 3px #777;
	-ms-box-shadow: 0px 0px 3px #777;
	box-shadow: 0px 0px 3px #777;
}

#servicos .coluna > div figure{
	margin-right: 10px;
	margin-bottom: 4px;
	width: 106px;
	height: 106px;
}

#servicos .coluna >div p {
	color: #5c5c5c;
	font-size: 12px;
}

#servicos .coluna >div p strong{
	display: block;
	font-size: 14px;
	font-weight: bold;
}

#servicos .coluna >div a {
	float: right;
	margin: 0 4px;
	color: #5c5c5c;
}

#servicos .coluna >div a:hover {
	text-decoration: underline;
}

/* --- Sobre Nós --- */

/* --- Depoimentos --- */

/* --- Carroussel --- */
#clientes {
	height: 90px;
	border: none;
	border-top: 1px dotted #333;
	border-bottom: 1px dotted #333;
	margin: 10px 0 10px 0;
}

#carroussel {
   	overflow:hidden;
   	margin:0 auto;
}

#carroussel ul{
   	list-style:none;
   	float:left
}
#carroussel ul li{
   	float:left;
   	display:inline;
   	margin-left: 4px;
}

#clientes > div > a.prev {
	float: left;
	margin-left:15px;
}

#clientes > div > a.next {
	float: right;
	margin-right:15px;
}

/* --- Footer --- */
#footer {
	height: 66px;
	background: #fff url("/assets/footer-bg.jpg") repeat-x bottom;
}

#footer p {
	padding: 25px 0 0 15px;
	color: #65666e;
	font-size: 12px;
}

#footer p > a {
	color: #979797
}

#footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin: 0 10px;
}

#footer ul li {
	float: right;
}

#footer ul li a {
	display: block;
	padding: 22px 10px 0 10px;
	color: #a0a0a0;
	font-size: 11px;
	border-bottom: 3px solid transparent;
	
	-webkit-transition: All 0.8s ease;
	-moz-transition: All 0.8s ease;
	-o-transition: All 0.8s ease;
	-ms-transition: All 0.8s ease;
	transition: All 0.8s ease;*/
}

#footer ul li.active a,
#footer ul li a:hover {
	border-color: #a0a0a0;
}